{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
<div id="wrapper">
        <!-- Content-->
        <div class="content">

        <div class="main-register-holder">
            <div class="main-register fl-wrap">
                <div class="close-reg"><i class="fa fa-times"></i></div>
                <h3>Sign In <span>Sos<strong>Doctor</strong></span></h3>
                <div id="tabs-container">
                    <ul class="tabs-menu">
                        <li class="current"><a >Register</a></li>
                    </ul>
                    
                        <div class="tab">
                           
                                <div class="custom-form">
                                           {{ form_start(form) }}
                                        
                                        {{  form_row(form.firstname) }}  
                                        {{  form_row(form.lastname) }}
                                        {{  form_row(form.email) }}
                                        {{  form_row(form.introduction) }}
                                        {{  form_row(form.description) }}
                                        {{  form_row(form.category) }}
                                        <div class="row">
                                            <div class="change-photo-btn">
                                                    <div class="photoUpload">
                                                      <span><i class="fa fa-upload"></i> Upload Photo</span>
                                                      {{  form_row(form.imageFile) }}
                                                    </div>
                                            </div>
                                    </div>
                                        <button type="submit"     class="log-submit-btn"  ><span>Register</span></button>
                                        {{ form_end(form) }}
                                </div>
                                
                            
                        </div>
                    
                </div>
            </div>
        </div>
        </div></div>


{% endblock %}
