{% extends 'base.html.twig' %}

{% block title %}Hello AdController!{% endblock %}

{% block body %}


<div id="wrapper">
    <div class="content">
        <!-- Map -->
        <div class="map-container column-map right-pos-map">
            <div id="map-main"></div>
            <ul class="mapnavigation">
                <li><a href="#" class="prevmap-nav">Prev</a></li>
                <li><a href="#" class="nextmap-nav">Next</a></li>
            </ul>
            <div class="scrollContorl mapnavbtn" title="Enable Scrolling"><span><i class="fa fa-lock"></i></span></div>   						
        </div>
        <!-- Map end -->          
        <!--col-list-wrap -->   
        <div class="col-list-wrap left-list">
           
            <!-- list-main-wrap-->
            <div class="list-main-wrap fl-wrap card-listing">
                <a class="custom-scroll-link back-to-filters btf-l" href="#lisfw"><i class="fa fa-angle-double-up"></i><span>Back to Filters</span></a> 
                <div class="container">
                    <!-- listing-item -->
                    {% for ad in ads %}
                    {# si il y'a une redendance #}
                    {% set url = path('ads_show', {'slug': ad.slug}) %}
                    <div class="listing-item">
                        <article class="geodir-category-listing fl-wrap">
                            <div class="geodir-category-img">
                              <a href="{{path('ads_show', {'slug': ad.slug}) }}">
                                
                                {% if (ad.filename) > 0 %}
                                <img src="/images/properties/{{ad.filename}}" alt="">
                                {% else %}
                                <img src="/images/all/single/1.jpg" alt="">
                                {% endif %}

                               <!-- <img src="{{ad.coverImage}}" alt="">--> 
                              
                                <div class="overlay"></div>
                            </a>
                                <div class="list-post-counter"><span>4</span><i class="fa fa-heart"></i></div>
                            </div>
                            <div class="geodir-category-content fl-wrap">
                                <a class="listing-geodir-category" href="listing.html">{{ad.category.title}}</a>
                                <div class="listing-avatar"><a href="author-single.html"><img src="images/avatar/1.jpg" alt=""></a>
                                    <span class="avatar-tooltip">Added By  <strong>Lisa Smith</strong></span>
                                </div>
                                <h3><a href="{{ url }}">{{ ad.name|slice(0, 20) }}</a></h3>
                                
                                <div class="geodir-category-options fl-wrap">
                                    <div class="listing-rating card-popup-rainingvis" data-starrating2="5">
                                        <span>(7 reviews)</span>
                                    </div>
                                    <div class="geodir-category-location"><a  href="#0" class="map-item"><i class="fa fa-map-marker" aria-hidden="true"></i>{{ad.adresse}}</a></div>
                                </div>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                    </div>
            </div>
            <!-- list-main-wrap end-->
        </div>
        <!--col-list-wrap -->  
        <div class="limit-box fl-wrap"></div>
        <!--section -->  
        <section class="gradient-bg">
            <div class="cirle-bg">
                <div class="bg" data-bg="images/bg/circle.png"></div>
            </div>
            <div class="container">
                <div class="join-wrap fl-wrap">
                    <div class="row">
                        <div class="col-md-8">
                            <h3>Join our online community</h3>
                            <p>Grow your marketing and be happy with your online business</p>
                        </div>
                        <div class="col-md-4"><a href="#" class="join-wrap-btn modal-open">Sign Up <i class="fa fa-sign-in"></i></a></div>
                    </div>
                </div>
            </div>
        </section>
        <!--section end -->  
    </div>
    <!--content end -->   
</div>


{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="../js/maps.js"></script>
   
    {% include "front/mapsjs.html.twig" with {'listings':ads} %}
   
{% endblock %}