{% extends 'base.html.twig' %}
{% block title %}
  Bienvenue 
{% endblock %}
{% block body  %}
<div id="wrapper">
    <!-- Content-->
    <div class="content">
        <!--section -->
        <section class="scroll-con-sec hero-section" data-scrollax-parent="true" id="sec1">
            <div class="bg"  data-bg="images/bg/2.jpg" data-scrollax="properties: { translateY: '200px' }"></div>
            <div class="overlay"></div>
            <div class="hero-section-wrap fl-wrap">
                <div class="container">
                    <div class="intro-item fl-wrap">
                        <h2>Prenez un rendez-vous chez sos docteurs</h2>
                        <h3>Les meilleurs medecis sont ici chez sos docteur</h3>
                    </div>
                    <div class="main-search-input-wrap">
                            {{ form_start(form) }}
                        <div class="main-search-input fl-wrap">
                            <div class="main-search-input-item">
                                    {{ form_row(form.qt) }}
                               <!-- <input type="text" placeholder="What are you looking for?" value=""/> --> 
                            </div>
                            <div class="main-search-input-item">
                                    {{ form_row(form.ville) }}
                                
                            </div>
                            <div class="main-search-input-item">
                                    {{ form_row(form.category) }}
                            </div>
                            <button class="main-search-button" onclick="window.location.href='listings-half-screen-map-list.html'">Search</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <div class="bubble-bg"> </div>
            <div class="header-sec-link">
                <div class="container"><a href="#sec2" class="custom-scroll-link">Let's Start</a></div>
            </div>
        </section>
     
        <!-- section end -->
        <!--section -->
        <section id="sec2">
            <div class="container">
                <div class="section-title">
                    <h2>SOS Docteurs</h2>
                    <div class="section-subtitle">Catalog of Categories</div>
                    <span class="section-separator"></span>
                    <p>Dîtes aurevoir à l'attente, vous pouvez maintenant voir le planning de votre médecin préféré en ligne le temp que vous voulez</p>
                </div>
                <!-- portfolio start -->
               
                    <!-- gallery-item-->
                    
                    <!-- gallery-item end-->
                    <!-- gallery-item-->
                    
                    <!-- gallery-item end-->
                    <!-- gallery-item-->
                    
                    <!-- gallery-item end-->
                    <!-- gallery-item-->
                    
                    <!-- gallery-item end-->
                    <!-- gallery-item-->
                   
                    <!-- gallery-item end-->
               
                <!-- portfolio end -->
            </div>
        </section>
        <!-- section end -->
       
        <!--section -->
        
        <!-- section end -->
        <!--section -->
        
        <!--section   end -->
        <!--section -->
        
        <section class="parallax-section" data-scrollax-parent="true">
            <div class="bg"  data-bg="images/bg/6.jpg" data-scrollax="properties: { translateY: '100px' }"></div>
            <div class="overlay co lor-overlay"></div>
            <!--container-->
            <div class="container">
                <div class="intro-item fl-wrap">
                    <h2>prendre rendez-vous en ligne 100% gratuit, méthode rapide et efficace</h2>
                    <h3>Cherchez des médecins à proximité par leur specialité</h3>
                    <a class="trs-btn" href="#">Add Listing + </a>
                </div>
            </div>
        </section>
        <!-- section end -->
        <!--section -->
       
        <!-- section end -->
        <!--section -->
                <!-- section end -->
        <!--section -->
        <section class="gray-section">
            <div class="container">
                <div class="fl-wrap spons-list">
                    <ul class="client-carousel">
                        <li><a href="#" target="_blank"><img src="images/clients/1.png" alt=""></a></li>
                        <li><a href="#" target="_blank"><img src="images/clients/1.png" alt=""></a></li>
                        <li><a href="#" target="_blank"><img src="images/clients/1.png" alt=""></a></li>
                        <li><a href="#" target="_blank"><img src="images/clients/1.png" alt=""></a></li>
                        <li><a href="#" target="_blank"><img src="images/clients/1.png" alt=""></a></li>
                        <li><a href="#" target="_blank"><img src="images/clients/1.png" alt=""></a></li>
                    </ul>
                    <div class="sp-cont sp-cont-prev"><i class="fa fa-angle-left"></i></div>
                    <div class="sp-cont sp-cont-next"><i class="fa fa-angle-right"></i></div>
                </div>
            </div>
        </section>
        <!-- section end -->
        <!--section -->
       
        <!-- section end -->
        <!--section -->
        <section class="gradient-bg">
            <div class="cirle-bg">
                <div class="bg" data-bg="images/bg/circle.png"></div>
            </div>
            <div class="container">
                <div class="join-wrap fl-wrap">
                    <div class="row">
                        <div class="col-md-8">
                            <h3>Vous avez des Questions ?</h3>
                            <p>Lorem ipsum dolor sit amet, harum dolor nec in, usu molestiae at no.</p>
                        </div>
                        <div class="col-md-4"><a href="contacts.html" class="join-wrap-btn">Get In Touch <i class="fa fa-envelope-o"></i></a></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section end -->
    </div>
    <!-- Content end -->
</div>
{% endblock  %}