{% extends 'base.html.twig' %}

{% block title %}Hello AdController!{% endblock %}
{% form_theme form _self %}
{% block body %}

	
                <!-- wrapper -->	
                <div id="wrapper">
                    <!--content -->  
                    <div class="content">
                        <!--section --> 
                        <section id="sec1">
                            <!-- container -->
                            <div class="container">
                                <!-- profile-edit-wrap -->
                                <div class="profile-edit-wrap">
                                    <div class="profile-edit-page-header">
                                        <h2>Add Listing</h2>
                                        <div class="breadcrumbs"><a href="#">Home</a><a href="#">Dasboard</a><span>Add Listing</span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="fixed-bar fl-wrap">
                                                <div class="user-profile-menu-wrap fl-wrap">
                                                    <!-- user-profile-menu-->
                                                    <div class="user-profile-menu">
                                                        <h3>Main</h3>
                                                        <ul>
                                                            <li><a href="dashboard.html"><i class="fa fa-gears"></i>Dashboard</a></li>															
                                                            <li><a href="dashboard-myprofile.html"><i class="fa fa-user-o"></i> Edit profile</a></li>
                                                            <li><a href="dashboard-messages.html"><i class="fa fa-envelope-o"></i> Messages <span>3</span></a></li>
                                                            <li><a href="dashboard-password.html"><i class="fa fa-unlock-alt"></i>Change Password</a></li>
                                                        </ul>
                                                    </div>
                                                    <!-- user-profile-menu end-->
                                                    <!-- user-profile-menu-->
                                                    <div class="user-profile-menu">
                                                        <h3>Listings</h3>
                                                        <ul>
                                                            <li><a href="dashboard-listing-table.html"><i class="fa fa-th-list"></i> My listigs  </a></li>
                                                            <li><a href="dashboard-bookings.html"> <i class="fa fa-calendar-check-o"></i> Bookings <span>2</span></a></li>
                                                            <li><a href="dashboard-review.html"><i class="fa fa-comments-o"></i> Reviews </a></li>
                                                            <li><a href="dashboard-add-listing.html" class="user-profile-act"><i class="fa fa-plus-square-o"></i> Add New</a></li>
                                                        </ul>
                                                    </div>
                                                    <!-- user-profile-menu end-->                                        
                                                    <a href="#" class="log-out-btn">Log Out</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <!-- profile-edit-container--> 
                                            <div class="profile-edit-container add-list-container">
                                                <div class="profile-edit-header fl-wrap">
                                                    <h4>Basic Informations</h4>
                                                </div>
                                                
                                                <div class="custom-form">
                                                        {{ form_start(form) }}
                                                    <label><i class="fa fa-briefcase"></i>
                                                    {{  form_row(form.name) }}
                                                </label>
                                                {{  form_row(form.description) }}
                                                {{  form_row(form.adresse) }}
                                                {{  form_row(form.telephone) }}
                                                {{  form_row(form.email) }}
                                                {{  form_row(form.paiement) }}
                                                {{  form_row(form.slug) }}
                                                <div class="row">
                                                <div class="change-photo-btn">
                                                        <div class="photoUpload">
                                                          <span><i class="fa fa-upload"></i> Upload Photo</span>
                                                          {{  form_row(form.imageFile) }}
                                                        </div>
                                                </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                    {{  form_row(form.category) }}
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{  form_row(form.ville) }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Latitude:<i class="fa fa-map-marker"></i></label>
                                                        {{  form_row(form.lat) }}                                                   
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label>Longitude:<i class="fa fa-map-marker"></i></label>
                                                        {{  form_row(form.longi) }}                                                  
                                                    </div>
                                                </div>
                                                <div class="map-container">
                                                        
                                                    <div id="singleMap" data-latitude="{{ ad.lat }}" data-longitude="{{ ad.longi }}"></div>
                                                    
                                                </div>
                                                <div class="profile-edit-container">
                                                        <div class="profile-edit-header fl-wrap" style="margin-top:30px">
                                                            <h4>Socials</h4>
                                                        </div>
                                                        <div class="custom-form">
                                                            <label><i class="fa fa-facebook"></i>
                                                            {{  form_row(form.facebook) }}</label>
                                                            <label><i class="fa fa-twitter"></i> 
                                                            {{  form_row(form.twitter) }} </label>
                                                            <label><i class="fa fa-whatsapp"></i>  
                                                            {{  form_row(form.whatsapp) }}</label>
                                                            <label><i class="fa fa-instagram"></i>  
                                                            {{  form_row(form.instagram) }}</label>
                                                            <label><i class="fa fa-vk"></i>  
                                                            {{  form_row(form.instatoken) }}</label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        {{ form_widget(form) }}
                                                </div>
                                                <button type="submit" class="btn  big-btn  color-bg flat-btn">Save Changes<i class="fa fa-angle-right"></i></button>

                                                {{ form_end(form) }} 
                                                
                                            </div>
                                        </div>
                                        <!-- profile-edit-container end--> 
                                        <!-- profile-edit-container--> 
                                        
                                        <!-- profile-edit-container end-->                                         
                                        <!-- profile-edit-container--> 
                                        
                                        <!-- profile-edit-container end-->                                         
                                        <!-- profile-edit-container--> 
                                        
                                        <!-- profile-edit-container end-->                                          
                                        <!-- profile-edit-container--> 
                                       
                                        <!-- profile-edit-container end-->                                       
                                        <!-- profile-edit-container--> 
                                       
                                        <!-- profile-edit-container end-->                                         
                                        <!-- profile-edit-container--> 
                                        
                                        <!-- profile-edit-container end-->  
                                       
                                    </div>
                                </div>
                            </div>
                            <!--profile-edit-wrap end -->
                        </div>
                        <!--container end -->
                    </section>
                    <!-- section end -->	
                    <div class="limit-box fl-wrap"></div>
                    <!--section -->
                    <section class="gradient-bg">
                        <div class="cirle-bg">
                            <div class="bg" data-bg="images/bg/circle.png"></div>
                        </div>
                        <div class="container">
                            <div class="join-wrap fl-wrap">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h3>Do You Have Questions ?</h3>
                                        <p>Lorem ipsum dolor sit amet, harum dolor nec in, usu molestiae at no.</p>
                                    </div>
                                    <div class="col-md-4"><a href="contacts.html" class="join-wrap-btn">Get In Touch <i class="fa fa-envelope-o"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- section end -->
                </div>
            </div>

{% endblock %}






{% block _ad_expertises_widget %}

    {{ form_widget(form) }}
 
    <input type="hidden" id="widgets-counter" value="0">
    <div class="form-group">
        <button type="button" id="add-expertise" class="btn btn-primary">Ajouter une expertise </button>
    </div>

{% endblock %}


{% block _ad_expertises_entry_row %}

    {{ form_widget(form) }}

{% endblock %}


{% block _ad_expertises_entry_widget %}
    <div class="form-group" id="block_{{id}}">
        <div class="row">
            <div class="col-md-6">
                    <div class="row">
                            <div class="col">
                                <label><i class="fa fa-map-marker cr"></i>
                                {{ form_widget(form.name) }}</label>
                            </div>
                        </div>
                    </div>
            
            <div class="col-2">
                <button type="button" class="btn btn-danger cr" data-action="delete" data-target="#block_{{id}}">X</button>
            </div>
        </div>
        </div>
    </div>
{% endblock %}






{% block javascripts %}
{{ parent() }}
    {% include "front/mapsjsnew.html.twig" %}
    <script>
        
        $('#add-expertise').click(function(){
            const index = +$('#widgets-counter').val();
            const tmpl = $('#ad_expertises').data('prototype').replace(/__name__/g, index);
            
            $('#ad_expertises').append(tmpl);
            $('#widgets-counter').val(index + 1);
            handleDeleteButtons();
        });
    
        function handleDeleteButtons(){
            $('button[data-action="delete"]').click(function(){
                const target = this.dataset.target;
                $(target).remove();
            });
        }
        function updateCounter(){
            const count = +$('#ad_expertises div.form-group').length;
            $('#widgets-counter').val(count);
        }

        updateCounter();
        handleDeleteButtons();
    
    </script>
 
{% endblock  %}